<section class="p-6">
    <h2 class="text-2xl font-bold mb-4">Lista de Deseos</h2>
  
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <div *ngFor="let producto of wishlist" class="rounded-lg shadow-md p-4 border">
        <h3 class="text-lg font-semibold">ID: {{ producto }}</h3>
        <button 
          (click)="eliminarDeWishlist(producto)"
          class="mt-4 bg-red-500 text-white font-semibold py-2 px-4 rounded hover:bg-red-600"
        >
          Eliminar de la lista de deseos
        </button>
      </div>
    </div>
  </section>
  